# Compiled Python files
*.pyc

# Files not to keep.
.vim/.netrwhist

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Below from http://drupal.org/node/1542048
# Patch/diff artifacts.
*.orig
*.rej
interdiff*.txt

# Sass cache files
.sass-cache

# Projects
.idea
.project

# Lock Files
.~lock*
